@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.eshop-home-container {
  min-height: 100vh;
}

.form-shadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.darkMode {
  --jd-color-background-default: #000 !important;
  color: #fff !important;
}

.dangers {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #FFF;
  clip-path: inset(0 -100vmax);
}

.discover {
  background-color: #FFF;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 calc(60% - 13.333px);
  min-width: 0;
  margin: 0px 14px;
}

@media screen and (min-width:1024px) {
  .embla__slide {
    flex: 0 0 calc(33.333% - 13.333px);
    min-width: 0;
    margin: 0px 14px;
  }
}